.home_container{
    background-color: teal;
}

h1{
    color:white;
    text-align: center;
}

.link_container{
    background-color: rgb(18, 48, 45);
    width:100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

